body {
    background-color: rgb(233, 233, 233);
}
#calculator {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 75px repeat(5, auto);
    gap: 0px 0px;
    height: 450px;
    width: 475px;
    margin: auto;
    font-family: Ubuntu Mono;
    color: rgb(119, 201, 228);
    border-style: solid;
    border-radius: 2%;
    border-color :gray;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56,56,56);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

#return {
    font-size: 40px;
    color: black;
    background-color: whitesmoke;
    grid-column: 1 / 5;
}


.button {
    font-size: 32px;
    cursor: pointer;
}

.other {
    color: lightsalmon;
}

.button:hover {
    color: gray;
}

#equals {
    grid-column: 3 /5;
    grid-row: 6 / 7;
    font-size: 40px;
    color: whitesmoke;
}

#minus {
    font-size: 40px;
}

.operator {
    color: rgb(255, 112, 255);
}