body {
    background-color: rgb(182, 253, 222);
}
#calculator {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px repeat(4, auto);
    gap: 0px 0px;
    height: 450px;
    width: 475px;
    margin: auto;
    font-family: Ubuntu Mono;
    color: lightblue;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56,56,56);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

#return {
    font-size: 40px;
    color: black;
    background-color: whitesmoke
}


.button {
    font-size: 32px;
    cursor: pointer;
}

.other {
    color: lightsalmon;
}

.button:hover {
    color: gray;
}

#return {
    grid-column: 1 / 4;
}

#equals {
    grid-column: 3 /4;
    grid-row: 7 / 8;
    font-size: 40px;
}

#clear {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}
#minus {
    font-size: 40px;
}



.operator {
    color: lightgoldenrodyellow;
}